
<style>
    table, th, td {
      border: 1px solid black;
      border-radius: 10px;
      text-align: center;
    }
</style>
<table style="width:100%">
    <tr>
        <th>
            Center Name
        </th>
        <th>
            Center Number
        </th>
        <th>
            Address
        </th>
        <th>
            Start Time
        </th>
        <th>
            End Time
        </th>
        <th>
            Vaccine
        </th>
        <th>
            Total Availability
        </th>
        <th>
            Dose 1
        </th>
        <th>
            Dose 2
        </th>
        <th>
            Min Age Limit
        </th>
    </tr>

  {% for vaccine in vaccine_details %}

  <tr>
    <td>{{ vaccine.name }}</td>
    <td>
      <p>{{vaccine.center_id}}</p>
    </td>
    <td>
      <p>{{vaccine.address}}</p>
      <p>Block Name : {{vaccine.block_name}}</p>
      <p>District : {{vaccine.district_name}}</p>
      <p>State : {{vaccine.state_name}}</p>
      <p>Pincode : {{vaccine.pincode}}</p>
    </td>
    <td>
      <p>{{vaccine.from}}</p>
    </td>
    <td>
      <p>{{vaccine.to}}</p>
    </td>
    <td>
      <p>{{vaccine.vaccine}}</p>
    </td>
    <td>
      <p>{{vaccine.available_capacity}}</p>
    </td>
    <td>
      <p>{{vaccine.available_capacity_dose1}}</p>
    </td>
    <td>
      <p>{{vaccine.available_capacity_dose2}}</p>
    </td>
    <td>
      <p>{{vaccine.min_age_limit}}</p>
    </td>
  </tr>

  {% endfor %}
</table>

<!-- debugging saviour 
{% for vaccine in vaccine_details %}
<div>
  <h3>{{vaccine.name}}</h3>
</div>
<div>
  <p>Center Number {{vaccine.center_id}}</p>
</div>
<div>
  <p>Address {{vaccine.address}}</p>
  <p>Block Name : {{vaccine.block_name}}</p>
  <p>District : {{vaccine.district_name}}</p>
  <p>State : {{vaccine.state_name}}</p>
  <p>Pincode : {{vaccine.pincode}}</p>
</div>
<div>
  <p>Start Time : {{vaccine.from}}</p>
</div>
<div>
  <p>End Time : {{vaccine.to}}</p>
</div>
<div>
  <p>Vaccine : {{vaccine.vaccine}}</p>
</div>
<div>
  <p>Total Availability : {{vaccine.available_capacity}}</p>
</div>
<div>
  <p>Dose 1 Availability : {{vaccine.available_capacity_dose1}}</p>
</div>
<div>
  <p>Dose 2 Availability : {{vaccine.available_capacity_dose2}}</p>
</div>
<div>
  <p>Min Age Limit : {{vaccine.min_age_limit}}</p>
</div>
{% endfor %}
-->

